<div class="header">
  <div class="flex gap-1 cursor-pointer" [routerLink]="['/']" routerLinkActive="router-link-active">
    <span class="material-icons-round">local_library</span>
    <h1 class="font-bold leading-loose" i18n="Header | Dictionary@@project-name">Dictionary</h1>
  </div>
  <div class="header__favorit">
    <button class="header__button cursor-pointer" [routerLink]="['/bookmark']" routerLinkActive="router-link-active" >
      <span class="material-icons-round">bookmark</span>
    </button>
  </div>
</div>